{% extends 'base.html' %}

{% block content %}
    
<div class='container mt-4' style='width: 800px'>
    {% if cart_items|length == 0 %}
    <h4 class='d-flex justify-content-center'>You do not have any bookmark at the moment</h4>
    {% else %}
    <div class="row p-2">
        {% comment %} <a href="" class="btn btn-primary">Proceed to Payment</a> {% endcomment %}
    </div>
    {% endif %}
    <div class='col d-flex justify-content-center'>
        <div class='row w-100'>
            <div class="cart-container">
                <div class="card">
                    <div class="card-header" align="center">
                        Your Cart
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for item in cart_items %}
                            <li class="list-group-item w-100">
                                <div class='row w-100'>
                                    <div class="col-lg-3">
                                        <img src="{{ item.item.house.pic.url }}" class='img object-fit-cover border-0 rounded' style="height: 120px; width: 120px">
                                    </div>
                                    <div class="col">
                                        <h5><a class='text-decoration-none' href="{% url 'house' house_id=item.item.house.pk %}">{{ item.item.house.location }}</a></h5>
                                        <p class='text-body-secondary'>
                                        <h6>Price: {{ item.item.house.price }}Tk</h6>
                                    </div>
                                    <div class="col-lg-2 d-flex align-items-center justify-content-end">
                                        <form method='POST' >
                                            {% csrf_token %}
                                            <input type='hidden' name='item_id' value='{{ item.item.id }}'>
                                            <button type="submit" class="btn-close" aria-label="Close"></button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
